<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quyt.iot_demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iotdemo"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.HomeActivity"/>
        <activity android:name=".ui.WebMapActivity" />
        <activity android:name=".ui.scenario.ScenarioActivity" />
        <activity android:name=".ui.scenario.LocationAutoActionActivity" />
        <activity android:name=".ui.add.AddDeviceActivity" />
        <activity android:name=".ui.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.scenario.createscenario.CreateScenarioActivity" />
        <activity android:name=".ui.location.MapActivity" />

        <service
            android:name=".TimerJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="false" />

        <service android:name="org.eclipse.paho.android.service.MqttService">
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1LSINr9CWJD4tE02TuO3SXkpSdMc5cm0" />

    </application>

</manifest>